/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
}
.hero{
    height: 650px;
    background-image: url(images/torshov.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero-title{
    width: 200px;
    margin: 0px auto;
    border: 1px solid #457B9D;
    padding: 4px 15px;
    border-radius: 10px;
    background-color: #457B9D;
    color: #F1FAEE;
}
#hero-subtitle{
    width: 500px;
    margin: 20px auto;
    border: 1px solid #1D3557;
    padding: 4px 2px;
    border-radius: 10px;
    background-color: #1D3557;
    color: #F1FAEE;
}
.activities{
    background-color: #F1FAEE;
    color: #1D3557;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.activities img{
    border-radius: 100%;
}
.activity-header {
    width: 100%; /* Ensure the header spans the full width */
    text-align: center; /* Center the header */
    margin-bottom: 20px; /* Adjust spacing between the header and activities */
    order: -1; /* Place the header first in the flex order */
}

.guide{
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #A8DADC;
    border-bottom: 4px solid #1D3557;
    padding: 5px 10px;
    color: #1D3557;
    margin-bottom: 20px;
}
.guide p{
    font-style: italic;
}
.avatar{
    width: 150px;
    padding: 10px 20px;
}

